<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>stocks</string>
		<string>youtube</string>
		<string>shortcuts</string>
		<string>maps</string>
		<string>photos-redirect</string>
		<string>comgooglemaps</string>
		<string>whatsapp</string>
	</array>
</dict>
</plist>
